*{ font-family : Arial,'ＭＳ Ｐゴシック',sans-serif ; }
img , tr , td , th , input , h1 , h2 , body , div {
    margin:0;
    padding:0;
}

#overlay        { display:none; }
#overlay_box    { display:none; }
#overlay.on     { display:block; }
#overlay_box.on { display:block; }

#overlay         { position:fixed; width: 100% ; height:100%; background-color:#000; opacity:.70; }
#overlay_box     { position:fixed; width: 100% ; height:100%; }
#overlay_content { 
    width: 500px; 
    height: 90%; 
    max-height:300px; 
    margin:auto; 
    margin-top:100px; 
    background-color:#EEE;
    border-radius : 10px ;
}
#overlay_content > header { width:100%; }
#overlay_content > header > div { padding:10px; }


#main > header {

border-bottom:1px solid #000 ;
padding-top:20px;
padding-bottom:5px;
margin-bottom:40px;


}

#main > header > div {
float:right;
margin-top:-1.3em;
}

/** table border **/
table.list {
    border-top   : 1px solid #000 ;
    border-left  : 1px solid #000 ;
}

.list th, .list td {
    border-bottom: 1px solid #000 ;
    border-right : 1px solid #000 ;
}
/*****************************/



table.list {
    width:100%;
    max-width:1024px;
}

.list th , .list td {
    height : 20px ;
}
{
    padding-left : 5px ; 
    padding-right: 5px ;
}
.list td input { 
    border : none ;
    font-size:12px;
}
.list td {
    font-size:14px;
}

.list td.time input {
    width:100%;
}

.list td.detail input {
    height : 100% ;
    width  : 100% ;
}




.list th { overflow:hidden; white-space:nowrap;}
.list th.time , .list th.edit {
    width:40px; 
    height:20px; 
    padding-top:4px; 
    -webkit-transition: 0.2s ease-out;
}

.list th.edit img { width:32px; height:32px;}

.list      th.edit .menu         { width: 0px; height:32px; -webkit-transition: 0.2s ease-out; }
.list.edit th.edit .menu         { width:32px  ; }
.list      th.edit .menu_trigger { width:32px; height:32px; -webkit-transition: 0.2s ease-out; }
.list.edit th.edit .menu_trigger { width:0  ; }

.list.edit th.edit { width:100px; }

.list      th.edit { cursor:pointer;}
.list.edit th.edit { cursor:default; }

.list      th.edit .menu { cursor:default;}
.list.edit th.edit .menu { cursor:pointer; }

.list th.detail{ padding-left: 5px; }

.list th:hover.edit  .menu_trigger , .list th.edit .menu:hover  { background-color:#ddd;    border-radius:3px;}
.list th:active.edit .menu_trigger , .list th.edit .menu:active { background-color:#ffddff; border-radius:3px;}



.list td.edit { text-align:center; overflow:hidden; }
.list      td.edit input { margin-left : -100px; -webkit-transition: 0.2s ease-out; }
.list.edit td.edit input { margin-left :    0px; }


.list th.detail { text-align:left; }

.list .numeric ,
.list td.numeric * {
    text-align:right;
}
    


.list tr.buttons td { padding:10px 5px; }
.list tr.buttons td span { padding-right : 10px ;}

.btn { cursor:pointer; }

#content > div { margin-bottom:30px }
#content > div > header     { display:-webkit-box; }
#content > div > header div {
    font-size   : 24px ;
    margin-left : 20px ;
    padding-top:2px;
}

#content > div > header > h2 {
    margin-left:-2px;
    padding-left:34px;
    padding-top:2px;
    height:32px;
    background-image : url( image/ico_32x32_cal_blue.png );
    background-repeat: no-repeat ;
}


/*****************************************************************/
/*  COLOR ********************************************************/

/* table border */
table.list , table.list th, table.list td { border-color : #ccc; }

/* table row background */
.list tr:nth-child( even )   { background-color:#f1f1f1; }
.list tr:nth-child( odd )    { background-color:#f1e1f1; }

.list tr:hover { background-color:#dedeff; }

.list tr:nth-child( 1 ) { 
    background-color : #555;
    color : #FFF ;
}
.list tr:nth-last-child( 1 ) {
    background-color : #fff ;
    color : #000 ;
}


.list tr input { 
    background:none; 
}

{
}

.list .btn:hover  { background-color:#000; color:#FFF; }
.list .btn:active { background-color:#D00; color:#FFF; }

/*---------------------------------------------------------------*/


body { background-color : #f2f2f2; }

#main {
    min-width:460px;
    background-color:#FFF;
    margin:0 50px ;
    padding:0 50px ;

    -webkit-box-shadow : 0px 0px 20px #000 ;
    padding-bottom:10px;
    -webkit-border-bottom-right-radius : 10px ;
    -webkit-border-bottom-left-radius : 10px ;
}
