
#hand {
bottom:0;
    position:absolute;
    display:-webkit-box;
    -webkit-transform-style:preserve-3d;
    -webkit-perspective: 1000;
}

#hand .card {
    margin:0;
    margin-left:-150px;
    -webkit-transform-origin : right center ;
}

#hand .card ,
#hand .card img {
    -webkit-transition-duration: .3s ;
}

#hand .card.unchecked {
    -webkit-transform: translate( 100% , -100% ) rotateY( 90deg );
}

#hand .card:first-child {
    margin-left:0;
}

#hand .card:hover {
    -webkit-transform: translateY( -90px );
}
#hand .card:hover img {
    border:2px solid #F00;
}

#hand .card.selected {
    border:2px solid #000;
    opacity:0.7;
}
