
body {
    font-family : sans-serif ; 
}

#container { 
    display:-webkit-box; 
    width:720px;
    margin: 0 auto;
}

/**********************************************/
/* カードのデフォルト状態 */
/* ------------------------------------------ */

.card {
    background-color:#000; 
    margin:20px 45px;
    width : 200px ;
    height: 280px ;
    box-sizing:border-box;
    border-radius:10px; 
    -webkit-transition: -webkit-transform .1s linear ;
    -webkit-transform: translate( 0 , 0 ) rotate( 0deg ) scale( 1 );
}


.card img { 
    box-sizing:border-box ;
    -webkit-transition: 
        -webkit-transform .1s linear ,
        box-shadow        .1s linear ,
        opacity           .1s linear ;

    -webkit-transition-duration:.1s;
    -webkit-transform-origin:center bottom;

    width:100%;
    height:100%;

    border-radius:10px; 

    -webkit-transform: rotate( 0deg ) translate(0) scale(1) ; 
    box-shadow:rgba( 0,0,0, 1) 0 1px 2px ;
}

/**********************************************/
/* カードの回転 */
/* ------------------------------------------ */
.card.rotate img { 
    -webkit-transform-origin:center;
    -webkit-transform: rotate( 90deg ) ; 
    box-shadow:rgba( 0,0,0, .5) 2px 0 2px ;
}

/**********************************************/
/* カードのフォーカス時 */
/* focus状態の方が、回転より優先度が高い */
/* ------------------------------------------ */
.card.focus img { 
    -webkit-transform: scale( 1.1 ) ;
    box-shadow:rgba( 0,0,0, .5) 0 10px 10px ;
}


.card.flip img { opacity:0; }
.card      img { opacity:1; }
.card.flip { 
    -webkit-transform: rotateY( 180deg ) ; 
}





